<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BTQuickApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6A60C27F1DDD99400072FACD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6A60C2981DDD99410072FACD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6A60C2A31DDD99410072FACD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
